@model QuickFlip.Models.Community


<img src="@Model.Logo.Src" style="max-height:100px; max-width:100px" />

<h2>@Model.CommunityName</h2>
<hr />


<ul style="list-style-type:none;">

    <li style="margin-bottom:70px;">
        <a style="display: block; float: left; top:-20px;  width: 75px; height: 75px; padding: 0px; border: 3px solid #021a40; border-radius: 20px; ">
            <img src="~/Images/BuyIcon.png" style="display: block; top: -20px; width: 75px; height: 75px; " />
        </a>   

        <p style="position:relative; top:20px; left:20px; font-size:x-large">
            <b>Buy:</b> People here are looking for...
        </p>
    </li>

    <li style="margin-bottom: 70px;">
        <a style="display: block; float: left; top:-20px;  width: 75px; height: 75px; padding: 0px; border: 3px solid #021a40; border-radius: 20px; ">
            <img src="~/Images/SellIcon.png" style="display: block; top: -20px; width: 75px; height: 75px; " />
        </a>

        <p style="position:relative; top:20px; left:20px; font-size:x-large">
            <b>Sell:</b> People here are selling...
        </p>
    </li>

    <li style="margin-bottom: 70px;">
        <a style="display: block; float: left; top:-20px;  width: 75px; height: 75px; padding: 0px; border: 3px solid #021a40; border-radius: 20px; ">
            <img src="~/Images/UsersIcon.png" style="display: block; top: -20px; width: 75px; height: 75px; " />
        </a>

        <p style="position:relative; top:20px; left:20px; font-size:x-large">
            <b>Users:</b> People in this community
        </p>
    </li>

    <li style="margin-bottom: 70px;">
        <a style="display: block; float: left; top:-20px;  width: 75px; height: 75px; padding: 0px; border: 3px solid #021a40; border-radius: 20px; ">
            <img src="~/Images/SearchIcon.png" style="display: block; top: -20px; width: 75px; height: 75px; " />
        </a>

        <p style="position:relative; top:20px; left:20px; font-size:x-large">
            <b>Search:</b> Search for content in @((CommunityAbbrev)Model.CommunityId)
        </p>
    </li>

</ul>



