<!-- featured content wrapper -->
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome!</h1>
            </hgroup>
            <p style="color:white;">
                Looking to <b>buy</b> or <b>sell</b>? <br />
                Select your community from the map below to get started.
            </p>
        </div>
    </section>
}

<!-- map header -->
<h1 style="text-align:center">Select Your Community</h1>

<!-- map with community icons -->
<img src="~/Images/UnitedStatesMap.png" style="margin-top:20px;"/>
<div style="position:relative">
    <a href="~/Community/Home/IU">
        <img class="iu" src="~/Images/IU.png" />
    </a>
    <a href="~/Community/Home/MSU">
        <img class="msu" src="~/Images/MSU.png" />
    </a>
    <a href="~/Community/Home/NU">
        <img class="nu" src="~/Images/NU.png" />
    </a>
    <a href="~/Community/Home/OSU">
        <img class="osu" src="~/Images/OSU.png" />
    </a>
    <a href="~/Community/Home/PSU">
        <img class="psu" src="~/Images/PSU.png"/>
    </a>
    <a href="~/Community/Home/PU">
        <img class="pu" src="~/Images/PU.png" />
    </a>
    <a href="~/Community/Home/UI">
        <img class="ui" src="~/Images/UI.png" />
    </a>
    <a href="~/Community/Home/UIUC">
        <img class="uiuc" src="~/Images/UIUC.png"/>
    </a>
    <a href="~/Community/Home/UM">
        <img class="um" src="~/Images/UM.png" />
    </a>
    <a href="~/Community/Home/UMN">
        <img class="umn" src="~/Images/UMN.png" />
    </a>
    <a href="~/Community/Home/UNL">
        <img class="unl" src="~/Images/UNL.png" />
    </a>
    <a href="~/Community/Home/UWM">
        <img class="uwm" src="~/Images/UWM.png" />
    </a>
</div>

